@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}
:root {
    --gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);
    --pale-blue: hsl(243, 100%, 93%);
    --grayish-blue: hsl(229, 7%, 55%);
    --dark-blue: hsl(228, 56%, 26%);
    --very-dark-blue: hsl(229, 57%, 11%);
    /* - Font size: 14px */
}
::-webkit-scrollbar {
    display: none;
}
body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background-image: url("../assets/bg-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--very-dark-blue);
}

main {
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.file-manager {
    background-color: var(--dark-blue);
    padding: 2em;
    border-radius: 10px;
    width: 85vw;
    border-top-right-radius: 6rem;
    animation: scaledown 0.4s ease-in 0.2s;
    transform: scale(0);
    opacity: 1;
    animation-fill-mode: forwards;
}

.logo {
    margin-bottom: 1.5em;
    max-width: 130px;
}
.logo img {
    width: 100%;
    height: 100%;
}
.file-section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5em;
}
.box {
    display: flex;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--very-dark-blue);
    width: 45px;
    aspect-ratio: 1;
    cursor: pointer;
}
.storage {
    background-color: var(--dark-blue);
    padding: 2em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    position: relative;
    animation: scaledown 0.4s ease-in 0.2s;
    transform: scale(0);
    opacity: 1;
    animation-fill-mode: forwards;
}

.usage {
    color: var(--pale-blue);
    word-spacing: 0.1rem;
    font-size: 14px;
}
.progress-bar {
    width: 100%;
    height: 22px;
    border-radius: 1rem;
    background-color: var(--very-dark-blue);
}
.progress-bar-fill {
    background: linear-gradient(90deg, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    width: 80%;
    height: 16px;
    border-radius: 1rem;
    margin: 3.3px;
    position: relative;
}
.progress-bar-fill::before {
    content: "";
    width: 14px;
    height: 14px;
    background: white;
    position: absolute;
    margin-top: 0.5px;
    border-radius: 50%;
    left: calc(100% - 16px);
}
.limit {
    display: flex;
    justify-content: space-between;
    color: var(--pale-blue);
    font-weight: 600;
    margin-top: -0.5em;
    margin-bottom: 2em;
}
.floating-data-left-box {
    background-color: white;
    width: max-content;
    border-radius: 8px;
    padding: 1em 2em;
    position: absolute;
    align-self: center;
    top: 79%;
    animation: scaledown 0.4s ease-in 0.5s;
    transform: scale(0);
    opacity: 1;
    animation-fill-mode: forwards;
}
@keyframes scaledown {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
.floating-data-left-box p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.floating-data-left-box strong {
    font-size: 2.4rem;
    color: var(--very-dark-blue);
    font-weight: 600;
}
.floating-data-left-box span {
    font-size: 14px;
    color: var(--grayish-blue);
    font-weight: 600;
}

@media (min-width: 1100px) {
    body {
        background-image: url("../assets/bg-desktop.png");
        background-position: bottom left;
        background-size: 100% 50%;
    }
    main {
        flex-direction: row;
        align-items: flex-end;
    }
    .file-manager {
        width: 30vw;
        max-width: 500px;
        padding: 4em 3em;
    }
    .storage {
        width: 55vw;
        max-width: 950px;
        padding: 2.5em 3em;
    }
    .tringle {
        width: 30px;
        height: 30px;
        position: absolute;
        background-color: white;
        right: -0.2px;
        bottom: -23px;
        clip-path: polygon(100% 0, 0 0, 100% 100%);
    }
    .floating-data-left-box {
        align-self: flex-end;
        top: -50px;
    }
}
